.text-animate {
  color: #000;
  background: rgba(255, 253, 160, 1);
  background: linear-gradient(
      to left,
      var(--green) 0%,
      var(--red) 25%,
      var(--blue) 50%,
      var(--green) 100%
    )
    repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  animation: masked-animation 45s infinite linear;
}

@keyframes masked-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -8000px -3000px;
  }
}

/**
 * Fontalicious animation
 */

@keyframes fontalicious {
  0% {
    font-family: helvetica;
  }
  10% {
    font-family: times;
  }
  20% {
    font-family: fantasy;
  }
  30% {
    font-family: monospace;
  }
  40% {
    font-family: Palatino;
  }
  50% {
    font-family: Tahoma;
  }
  60% {
    font-family: impact;
  }
  70% {
    font-family: cursive;
  }
  80% {
    font-family: monospace;
  }
  90% {
    font-family: fantasy;
  }
  99% {
    font-family: futura;
  }
  100% {
  }
}

.fontalicious {
  animation-name: fontalicious;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.animated {
  animation-fill-mode: both;
}
