:root {
  --green: #10ac84;
  --red: #ee5253;
  --blue: #2e86de;
}

@tailwind base;

@layer base {
  body {
    @apply m-0 font-sans text-gray-900;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h1,
  h2,
  h3 {
    @apply font-extrabold uppercase tracking-wider;
  }

  h2,
  h3 {
    @apply mb-4 mt-12;
  }

  li {
    @apply text-lg;
  }

  p {
    @apply my-6 text-lg;
  }

  a {
    @apply no-underline text-blue-700 font-bold;
  }

  a:hover {
    @apply underline;
  }

  img {
    @apply w-full;
  }
}

@tailwind components;

@layer components {
  .button {
    @apply bg-bleu text-white text-xl font-bold px-4 py-2 rounded-lg inline-flex items-center justify-center gap-x-2 shadow-lg active:shadow-md hover:shadow-xl hover:no-underline;
  }
}

@tailwind utilities;
