.text-animate {
  color: #000;
  background: rgba(255, 253, 160, 1);
  background: linear-gradient(
      to left,
      var(--green) 0%,
      var(--red) 25%,
      var(--blue) 50%,
      var(--green) 100%
    )
    repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  animation: masked-animation 45s infinite linear;
}

@keyframes masked-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -8000px -3000px;
  }
}
