.text-animate {
  color: #000;
  font-weight: bold;
  text-align: center;
  background: rgba(255, 253, 160, 1);
  background: -webkit-linear-gradient(
      left,
      var(--green) 0%,
      var(--red) 25%,
      var(--blue) 50%,
      var(--green) 100%
    )
    repeat;
  -webkit-background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
  -webkit-animation-name: masked-animation;
  -webkit-animation-duration: 45s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes masked-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -8000px -3000px;
  }
}
